@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap');
body
{
    font-family: 'Open Sans';
    background-image: url('/assets/Background-Image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.center-div
{
    padding-top: 10%;
}
.btn.btn-success
{
    padding: 0.5em 1.5em;
}
form
{
    padding: 0 3em;
}
#login .title span
{
    font-size: 1.25em;
}